---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <div class="grid md:grid-cols-2 grid-cols-1 gap-6 m-2 mt-8">
    <div class="flex flex-col items-center">
      <div class="w-3/4 text-base">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia labore consectetur
        provident, sunt voluptatem tenetur veritatis facilis suscipit nam harum doloribus
        delectus eum similique dolor ab ipsam enim soluta aliquid? Molestias perspiciatis,
        maiores ea dicta sed nesciunt rerum placeat suscipit provident pariatur quis
        iure exercitationem quisquam! Libero repudiandae odit fugiat error adipisci temporibus.
        Magni, cumque eveniet. Dolor blanditiis sapiente itaque! Labore soluta aliquam
        quas eius incidunt voluptatum, iste, nemo voluptas molestiae non recusandae rerum
        ex vitae architecto totam esse qui quaerat dignissimos odit. Voluptatum repudiandae,
        aliquam tempora iusto deleniti sed.
      </div>
    </div>
  
    <div class="flex flex-col items-center">
      <div class="card shadow-xl card-bordered border-2">
        <div class="card-body flex flex-col items-center">
          <h2 class="card-title justify-center text-2xl">Demo</h2>
          <div class="text-center">Upload a FASTA file and let CoCoPyE calculate completeness and contamination.</div>
          <div class="form-control w-full max-w-xs flex flex-col items-center">
            <input id="file" type="file" class="file-input file-input-bordered file-input-sm w-full max-w-xs m-2" />
            <button id="upload-btn" class="btn btn-sm m-2 mt-4 w-48">Upload</button>

            <div class="flex flex-row items-center h-8 mt-4 mb-2" id="status"></div>

            <div class="p-2 m-2 mt-4 border-solid border-2 border-gray-600">
              <table class="table">
                <tr><td>Completeness</td><td id="completeness"><i>None</i></td></tr>
                <tr><td>Contamination</td><td id="contamination"><i>None</i></td></tr>
                <tr><td>Stage</td><td id="stage"><i>None</i></td></tr>
                <tr><td>Taxonomy prediction</td><td id="taxonomy"><i>None</i></td></tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--<div class="mt-16 text-center">
    <a href="/docs/gettingstarted" class="btn btn-neutral">Get started</a>
  </div>-->

  <script>
    function update_status(message, state) {
      console.log(state)
      console.log(message)
      let status = document.getElementById("status");
      status.innerHTML = "";

      if(state == "progress") {
        let spinner = document.createElement("span");
        spinner.classList.add("loading", "loading-spinner", "loading-sm", "mr-4");
        status.appendChild(spinner);
        status.appendChild(document.createTextNode(message));
      }

      if(state == "result") {
        document.getElementById("completeness").innerHTML = message.completeness;
        document.getElementById("contamination").innerHTML = message.contamination;
        document.getElementById("stage").innerHTML = message.stage;
        document.getElementById("taxonomy").innerHTML = message.taxonomy;

        let div = document.createElement("div");
        div.classList.add("text-green-800");
        div.appendChild(document.createTextNode("Finished."));
        status.appendChild(div);
      }

      if(state == "error") {
        let div = document.createElement("div");
        div.classList.add("text-red-700");
        div.appendChild(document.createTextNode(message));
        status.appendChild(div);
      }
    }

    async function upload() {
      if(document.getElementById("file").files[0] === undefined) {
        update_status("No file selected.", "error");
        return;
      }
      else {
        update_status("Uploading file", "progress")
      }

      let formData = new FormData();
      formData.append("file", document.getElementById("file").files[0]);

      let response = await fetch("/upload", {method: "POST", body: formData});
      let ws_id = await response.json();

      let ws = new WebSocket("ws://" + window.location.host + "/ws/" + ws_id["ws_id"])
      ws.onmessage = function(event) {
          let received = JSON.parse(event.data);
          update_status(received.content, received.status)
      }
    }

    let button = document.getElementById("upload-btn")
    button.addEventListener('click', () => {
      upload();
    });
  </script>
</MainLayout>
