---
import MainLayout from "../layouts/MainLayout.astro";
import { Icon } from 'astro-icon'
---

<MainLayout>
  <div class="grid 2xl:grid-cols-2 grid-cols-1 gap-6 m-2 mt-8">
    <div class="flex flex-col items-center">
      <div class="md:w-3/4 m-2 text-base text-justify">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia labore consectetur
        provident, sunt voluptatem tenetur veritatis facilis suscipit nam harum doloribus
        delectus eum similique dolor ab ipsam enim soluta aliquid? Molestias perspiciatis,
        maiores ea dicta sed nesciunt rerum placeat suscipit provident pariatur quis
        iure exercitationem quisquam! Libero repudiandae odit fugiat error adipisci temporibus.
        Magni, cumque eveniet. Dolor blanditiis sapiente itaque! Labore soluta aliquam
        quas eius incidunt voluptatum, iste, nemo voluptas molestiae non recusandae rerum
        ex vitae architecto totam esse qui quaerat dignissimos odit. Voluptatum repudiandae,
        aliquam tempora iusto deleniti sed.
      </div>
      <div class="flex flex-col md:flex-row mt-8 md:mt-16">
        <div class="flex flex-row items-center"><button class="btn btn-outline m-2 w-48 bg-gray-200"><Icon name="fa:book" style="width: 20px; height: 20px;" />Getting started</button></div>
        <div class="flex flex-row items-center"><button class="btn btn-outline m-2 w-48 bg-gray-200"><Icon name="fa:github" style="width: 20px; height: 20px;" />Source</button></div>
        <div class="flex flex-row items-center"><button class="btn btn-outline m-2 w-48 bg-gray-200"><Icon name="bytesize:mail" style="width: 20px; height: 20px;" />Contact</button></div>
      </div>
      <div class="flex flex-col items-center">
        <div class="card mt-12 md:w-3/4 shadow-xl bg-base-100 border-solid border-neutral-400 border-0">
          <div class="card-body">
            <h2 class="card-title">Citing CoCoPyE</h2>
            Niklas Birth, Nicolina Leppich, hier noch mehr Autoren eintragen. 2023.
            "CoCoPyE: feature engineering for learning and prediction of genome quality indices".
            Some great journal.
          </div>
        </div>
      </div>
    </div>
  
    <div class="flex flex-col items-center">
      <div class="card shadow-xl card-bordered border-2 bg-white border-solid h-full">
        <div class="card-body flex flex-col items-center">
          <h2 class="card-title justify-center text-2xl">Demo</h2>
          <div class="text-center">Upload a FASTA file and let CoCoPyE calculate completeness and contamination.</div>
          <div class="form-control w-full flex flex-col items-center">
            <input id="file" type="file" class="file-input file-input-bordered file-input-sm w-full max-w-xs m-2" />
            <div class="text-xs text-gray-600">Upload limit: 50MB</div>
            <button id="upload-btn" class="btn btn-outline btn-sm m-2 mt-4 w-48 bg-gray-200 border-gray-400">Upload</button>

            <div class="flex flex-row items-center h-8 mt-2 mb-2" id="status"></div>

            <hr class="h-px w-full mb-2 bg-gray-500 border-0">

            <!--<h3 class="text-center text-lg font-bold">Results</h3>-->

            <div class="p-2 m-2 mt-4 w-3/4 border-solid border-2 border-gray-600 opacity-30" id="results">
              <h3 class="text-center text-lg font-bold">Results</h3>

              <table class="table">
                <tr><td>Completeness estimate</td><td id="completeness"><i>-</i></td></tr>
                <tr><td>Contamination estimate</td><td id="contamination"><i>-</i></td></tr>
                <tr>
                  <td class="flex flex-row items-center">
                    <div>Confidence Level</div>
                    <div class="ml-2 tooltip tooltip-top max-sm:hidden" data-tip="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia labore consectetur">
                      <Icon name="simple-line-icons:question" style="width: 18px; height: 18px;" />
                    </div>
                  </td>
                  <td id="stage"><i>-</i></td>
                </tr>
                <tr>
                  <td class="flex flex-row items-center">
                    <div>Taxonomy prediction</div>
                    <div class="ml-2 tooltip tooltip-top max-sm:hidden" data-tip="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia labore consectetur">
                      <Icon name="simple-line-icons:question" style="width: 18px; height: 18px;" />
                    </div>
                  </td>
                  <td id="taxonomy"><i>-</i></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <script>
    function update_status(message, state) {
      let status = document.getElementById("status");
      status.innerHTML = "";

      if(state == "progress") {
        let spinner = document.createElement("span");
        spinner.classList.add("loading", "loading-spinner", "loading-sm", "mr-4");
        status.appendChild(spinner);
        status.appendChild(document.createTextNode(message));
      }

      if(state == "result") {
        document.getElementById("completeness").innerHTML = message.completeness;
        document.getElementById("contamination").innerHTML = message.contamination;
        document.getElementById("stage").innerHTML = message.stage;
        document.getElementById("taxonomy").innerHTML = message.taxonomy;

        let div = document.createElement("div");
        div.classList.add("text-green-800");
        div.appendChild(document.createTextNode("Finished."));
        status.appendChild(div);

        let results = document.getElementById("results");
        results.classList.remove("opacity-30");
        results.classList.add("opacity-100");
        document.getElementById("upload-btn").removeAttribute("disabled");
      }

      if(state == "error") {
        let div = document.createElement("div");
        div.classList.add("text-red-700");
        div.appendChild(document.createTextNode(message));
        status.appendChild(div);
      }
    }

    async function upload() {
      if(document.getElementById("file").files[0] === undefined) {
        update_status("No file selected.", "error");
        return;
      }
      else {
        update_status("Uploading file", "progress");
        let results = document.getElementById("results");
        results.classList.remove("opacity-100");
        results.classList.add("opacity-30");
        document.getElementById("upload-btn").setAttribute("disabled", "true");
      }

      let formData = new FormData();
      formData.append("file", document.getElementById("file").files[0]);

      let response = await fetch("/upload", {method: "POST", body: formData});
      let ws_id = await response.json();

      let ws = new WebSocket("ws://" + window.location.host + "/ws/" + ws_id["ws_id"])
      ws.onmessage = function(event) {
          let received = JSON.parse(event.data);
          update_status(received.content, received.status)
      }
    }

    let button = document.getElementById("upload-btn")
    button.addEventListener('click', () => {
      upload();
    });
  </script>
</MainLayout>
