---
import MainLayout from "../layouts/MainLayout.astro";
import DocMenu from "../components/docs/DocMenu.astro";
---

<MainLayout>
  <div class="flex flex-col items-center">
    <div class="drawer drawer-open lg:w-2/3">
      <input id="doc-drawer" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content">
        <div class="m-4">
          <slot />
        </div>
      </div>
      <div class="drawer-side">
        <ul class="p-4 pl-8 m-4 bg-base-200 text-base-content" style="list-style-type: circle;">
          <DocMenu />
        </ul>     
      </div>
    </div>
  </div>
</MainLayout>