# Basic functionality
numpy>=1.23
numba>=0.56.4
biopython==1.81
scikit-learn
pandas
packaging

# CLI
argparse~=1.4.0
appdirs~=1.4.4
tomlkit~=0.11.6
requests~=2.28.2
tqdm~=4.65.0
numba-progress==1.0.0

# Webserver
celery[redis]~=5.3.1
uvicorn~=0.22.0
fastapi~=0.99.1
python-multipart~=0.0.6
websockets~=11.0.3
pandas~=2.1.0