<html>
    <head>
        <title>CoCoPyE Web</title>
    </head>
    <body>
        <h1 style="margin-right: auto; margin-left: auto; text-align: center">CoCoPyE Web</h1>

        <hr><br>

        <div style="margin-right: auto; margin-left: auto; text-align: center">
            <input type="file" id="file">
            <button onclick="upload()" >Upload</button><br><br><br>

            <textarea id="status" cols="50" rows="8" disabled></textarea>
        </div>


        <script>
            function clear_status() {
                document.getElementById("status").innerHTML = "";
            }

            function update_status(message) {
                let status_area = document.getElementById("status");
                let current = status_area.innerHTML;
                status_area.innerHTML = (current + "\n" + message).trim();
            }

            async function upload() {
                clear_status()
                update_status("Uploading file")

                let formData = new FormData();
                formData.append("file", document.getElementById("file").files[0]);

                let response = await fetch("/upload", {method: "POST", body: formData});
                let ws_id = await response.json();

                let ws = new WebSocket("ws://{{ public_url }}/ws/" + ws_id["ws_id"])
                ws.onmessage = function(event) {
                    update_status(event.data)
                }
            }
        </script>
    </body>
</html>