<li><a href="/docs">Overview</a></li>
<li class="mt-4"><a href="/docs/gettingstarted">Getting started</a></li>
<ul class="submenu">
  <li><a>Installation</a></li>
  <li><a>Basic usage</a></li>
</ul>
<li class="mt-4"><a>Configuration</a></li>
<ul class="submenu">
  <li><a>Command Line Arguments</a></li>
  <li><a>Configuration File</a></li>
</ul>

<style>
  .submenu {
    margin-left: 20px;
    list-style-type: square;
  }
</style>