<div>
    <!--<h1 class="text-center pt-10 mb-16 text-4xl">CoCoPyE - feature-based prediction of genome quality indices</h1>-->
    <div class="flex flex-col items-center">
      <div class="card mt-8 md:w-3/4 m-2 shadow-xl bg-base-100 border-solid border-neutral-400 mb-6", style="background-color: #204080">
        <div class="card-body">
          <h1 class="text-center text-4xl text-white font-bold">CoCoPyE - feature-based prediction of genome quality indices</h1>
        </div>
      </div>
    </div>
</div>